.collection-page {
	display: flex;
	flex-direction: column;

	.title {
		font-size: 38px;
		margin: 0 auto 30px;
	}

	.items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;

		& .collection-item {
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 950px) {
	.collection-page {
		.items {
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			justify-content: center;
			justify-items: center;
		}
	}
}
@media screen and (max-width: 770px) {
	.collection-page {
		.items {
			grid-template-columns: 1fr 1fr;

			& .collection-item {
				width: 40vw;
				.image {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 524px) {
	.collection-page {
		.items {
			grid-template-columns: 1fr;

			& .collection-item {
				width: 80vw;
				.image {
					width: 100%;
				}
			}
		}
	}
}
