.account-page {
	width: 850px;
	display: flex;
	flex-direction: row;
	margin: 20px auto;
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	.account-page {
		width: 90vw;
		flex-direction: column;
	}
}
